body {
    background-color: #101728;
}

#tec {
    color: #0E66B8;
}
#em {
    display: flex;
    color: #FAFF00;
    margin-left: 20%;
    border: solid black;
}
#sist {
    color: #1B6F14;
}
#para {
    color: #FAFF00;
}
#net {
    color: #0E66B8;
}
.p {
    display: flex;
    border: solid black;
    flex-direction: column;

}