body {
    margin: 0;
    height: 100vh;
    background-color: #101728;

}
a {
    text-decoration: none;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.logoif {
    margin: 40;
    margin-left: 110px;

}

.show-button .topo {
    right: 20px;
}


.box-busca {
    position: absolute;
    margin-left: 80%;
    top: 14%;
    transform: translate(-50%, -50%);
    background-color: #1B6F14;
    height: 30px;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 13px;
    line-height: 40px;
    width: 240px;

}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1B6F14;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lupapng {
    margin-top: 5px;
    margin-left: 3px;
}

#tec {
    display: flex;
    color: #0E66B8;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 45px;
    padding: 0px;
}
#em {
    display: flex;
    margin-left: 30%;
    color: #FAFF00;
    font-size: 45px;
    padding: 0px;
}
#sist {
    display: flex;
    margin-left: 40%;
    color: #1B6F14;
    font-size: 45px;

}

#para {
    display: flex;
    margin-left: 60%;
    color: #FAFF00;
    font-size: 45px;

}

#net {
    display: flex;
    margin-left: 75%;
    color: #0E66B8;
    font-size: 45px;

}
#slogan {
    display: flex;
    color: white;
    margin-left: 10%;
    background-color: #1B6F14;
    border-radius: 10px;
    border: solid black;
    font-size: x-large;
    margin-left: 20%;
}

.topo {
    position: fixed;
    bottom: 20px;
    right: 50px;
    border: solid white;
    border-radius: 50px;
}

#top1 {
    color: green;
    font-size: large;
    text-decoration: none;

}
#top2 {
    color: green;
    font-size: large;
    text-decoration: none;

}
#top3 {
    color:green;
    font-size: large;
    text-decoration: none;

}
#top4 {
    color:green;
    font-size: large;
    text-decoration: none;


}
#top5 {
    color:green;
    font-size: large;
    text-decoration: none;

}
#top6 {
    color:green;
    font-size: large;
    text-decoration: none;

}


.bo {
    display: flex;
    flex-direction: row;
    margin: 100px;
    margin-top: 130px;
    margin-left: 150px;
    width: 80%;
    justify-content: space-around;
    text-decoration: none;
}

.topico1 {

    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-top: 130px;
    margin-left: 15%;
    width: 75%;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.sobretec {
    text-align: center;
}

.topico2 {

    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-top: 150px;
    margin-left: 15%;
    width: 75%;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.topico3 {

    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-top: 180px;
    margin-left: 15%;
    width: 75%;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.topico4 {

    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-top: 180px;
    margin-left: 15%;
    width: 75%;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.topico5 {

    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-top: 180px;
    margin-left: 15%;
    width: 75%;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.topico6 {

    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-top: 180px;
    margin-left: 15%;
    width: 75%;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.horariotext {
    display: flex;
    flex-direction: column;
}

#caranopc1 {
    margin-right: 50px;
    border-radius: 20px;
}
.p {
    margin: 130px;
}

p {
    margin: 0px;

}

 #titulosobre {

    color: #1B6F14;
    text-align: center;
    margin: 30px;
}

#outrasinfo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    margin: 0px;
}
.id1 {
    
    color: white;

}
.rodape {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    background-color: #1c6f14;
    justify-content: center;

}
#rd1 {
    display: flex;
    align-items: center;
    color: white;
}
#rd2 {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    margin: 0%;
    height: auto;
    width: 75%;
    text-align: center;
    border-right: solid white 1px;
    border-left: solid white 1px;
}
#rd3 {
    color: #101728;
}
